/* table表格 */

.ui-table .cell {
  text-align: center;
}

.ui-table th>.cell {
  font-size: 12px;
  font-family: SimHei;
  font-weight: 400;
  color: rgba(153, 153, 153, 1);
}
.ui-table__body-wrapper .cell {
  font-size: 12px;
  font-family: SimHei;
  color: rgba(51, 51, 51, 1);
  font-weight: 400;
}

.ui-table td {
  border-bottom-color: #ffffff;
}

/* table表格利率列颜色 */

.pro-rate {
  color: #d13051;
}

/* table表格操作按钮 */

.detail-button {
  display: inline-block;
  width: 71px;
  height: 22px;
  border: 1px solid rgba(208, 47, 80, 1);
  border-radius: 11px;
  text-align: center;
  font-size: 12px;
  font-family: SimHei;
  font-weight: 400;
  color: rgba(208, 47, 80, 1);
}

/* form表单 */

.ui-form-item__content {
  height: 40px;
}

/* 左浮动 */

.float-left {
  float: left;
}

/* 右浮动 */

.float-right {
  float: right;
}

/* 清除浮动 */

.clear:after {
  content: "";
  display: table;
  clear: both;
}

/* 错号图标 */

.icon-circle-close {
  position: absolute;
  top: 0;
  right: 0;
}

/* 对号图标 */

.icon-circle-check {
  position: absolute;
  top: 0;
  right: 0;
}

/* 页码 */

.ui-pager li {
  font-size: 14px;
  font-family: SimHei;
  font-weight: 400;
  color: rgba(54, 54, 54, 1);
}

.ui-pager li.active {
  font-size: 14px;
  font-family: SimHei;
  font-weight: 400;
  color: rgba(210, 49, 82, 1);
}

/* 修改input框placeholder默认样式 */

input::-webkit-input-placeholder {
  font-size: 14px;
  font-family: SimHei;
  font-weight: 400;
  color: rgba(194, 194, 194, 1);
  line-height: 56px;
}

input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-size: 14px;
  font-family: SimHei;
  font-weight: 400;
  color: rgba(194, 194, 194, 1);
  line-height: 56px;
}

input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-size: 14px;
  font-family: SimHei;
  font-weight: 400;
  color: rgba(194, 194, 194, 1);
  line-height: 56px;
}

input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-size: 14px;
  font-family: SimHei;
  font-weight: 400;
  color: rgba(194, 194, 194, 1);
  line-height: 56px;
}