.ui-table th>.cell {
  font-size: 12px;
  font-family: SimHei;
  font-weight: 400;
  color: rgba(153, 153, 153, 1);
}

.ui-table td {
  border-bottom-color: #ffffff;
}

.detail-button {
  display: inline-block;
  width: 71px;
  height: 22px;
  border: 1px solid rgba(208, 47, 80, 1);
  border-radius: 11px;
  text-align: center;
  font-size: 12px;
  font-family: SimHei;
  font-weight: 400;
  color: rgba(208, 47, 80, 1);
}

.float-left {
  float: left;
}

.clear:after {
  content: "";
  display: table;
  clear: both;
}

.service-title {
  font-size: 16px;
  font-family: SimHei;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
}

.service-item {
  display: inline-block;
  margin-right: 65px;
}

.service-img-wrap {
  position: relative;
  text-align: center;
}

.service-img {
  width: 25px;
  height: 30px;
}

.icon-circle-close {
  position: absolute;
  top: 0;
  right: 0;
}

.icon-circle-check {
  position: absolute;
  top: 0;
  right: 0;
}

.ui-pager li {
  font-size: 14px;
  font-family: SimHei;
  font-weight: 400;
  color: rgba(54, 54, 54, 1);
}

.ui-pager li.active {
  font-size: 14px;
  font-family: SimHei;
  font-weight: 400;
  color: rgba(210, 49, 82, 1);
}